#preloader {
  @include fixed($t:0,$r:0,$b:0,$l:0,$z:99999);
    @include wh100;
    background-color: $white;
  .spinner {
    width: 100px;
    height: 100px;
    @include border-radius(50%);
    background: $white;
    background: $action-color;
    @include absolute($t:50%, $l:50%);
    margin: -50px 0px 0px -50px;
    &::before,
    &::after {
      content: '';
      @include absolute($t:50%,$l:50%);
      @include border-radius(50%);
      @include transform(translate(-50%,-50%));
    }
    &::before {
      //z-index: 5;
      // width: 180%;
      // height: 180%;
  // @include animation(animation,ringer .6s forwards ease-in-out infinite)
  //     background: url(../../public/images/coolest-guy.gif) no-repeat center center;
  //     background-size: cover;
    }
    &::after {
      @include wh100;
      @include animation(animation,ringer .6s forwards ease-in-out infinite)
      background: url(../../public/images/coolest-guy.gif) no-repeat center center;
      background-size: cover;
      z-index: 2;
      //z-index: -1;
      // @include animation(animation,ringer .6s forwards ease-in-out infinite)
      // background: $action-color;
      // background:$white;
    }
  }
}

@include keyframes(ringer) {
  0% {
    @include opacity(1);
    // width: 90%;
    // height: 90%;
  }
  40% {
     @include opacity(.5);
  }
  100% {
     @include opacity(1);
  }
  // 25% {
  //   width: 95%;
  //   height: 95%;
  // }
  // 50% {
  //   width: 100%;
  //   height: 100%;
  // }
  100% {
    // width: 90%;
    // height: 90%;
  }
}