@font-face {
  font-family: "tmbricons";
  src: url('../fonts/tmbricons.eot');
  src: url('../fonts/tmbricons.eot?#iefix') format('eot'),
    url('../fonts/tmbricons.woff') format('woff'),
    url('../fonts/tmbricons.ttf') format('truetype'),
    url('../fonts/tmbricons.svg#tmbricons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.tmbricons {
  display: inline-block;
  font-family: "tmbricons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tmbricons:before {
  display: inline-block;
  font-family: "tmbricons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.tmbricons-2x { font-size: 2em; }
.tmbricons-3x { font-size: 3em; }
.tmbricons-4x { font-size: 4em; }
.tmbricons-5x { font-size: 5em; }
.tmbricons-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.tmbricons-xmas:before { content: "\EA38" }
