$gap: 30px;

.pg-main {
  padding: $gap $gap 0;
}

.pg-section {
  @include relative;
  width: 100%;
  height: calc(100vh - 30px);
  padding-bottom: $gap;
}


.section-intro {
  .hero-slider {
    @include opacity(0.8);
    //@include border-radius(1px);
    box-shadow: inset 33px 33px 80px #b2b2b2;
    &,
    .slick-list,
    .slick-track,
    .item,
    .img-bg {
      @include wh100;
    }
  }
  .intro-text {

    @include absolute;
    top: 50%;
    left: 50%;
    //background: $peach;
    //display: none;
    font-family: 'Playfair Display';
    text-shadow: 33px 33px 80px #b2b2b2;
font-weight: 700;
    font-size: 60px;
    color: #fffd38;
    color: white;
    text-align: center;
    @include transform(translate(-50%,-50%));
    //font-family: 'Libre Franklin';
    box-shadow: 33px 33px 80px #b2b2b2;
    display: none;

  }
  .shadow-text {

   text-align: center;
      font-size: 150px;
      line-height: 130px;
      small {
        font-size: 100px;
        line-height: 50px;
        font-weight: 700;

      }

      .pink {
        //color: lighten($good,10%);
      }
      @include absolute($t:15%,$l:0);
      @include respond-to($screen-sm) {
        font-size: 120px;
        line-height: 90px;
        top: 20%;
        small {
          font-size: 80px;
          line-height: 30px;

        }
      }
      //@include transform(translateY(-50%));
      width: 100%;
      font-family: 'Open Sans', sans-serif;
      // font-family: 'Rubik One';
      // font-family: 'Titillium Web';
      // font-family: 'Work Sans';
      font-family: 'Libre Franklin';
      font-weight: 900;
      font-style: italic;
// font-family: 'Rubik';
// font-weight: 900;
// font-style: italic;
      color: rgba(0,0,0,0.2);
      color: #fff;
//color: lighten($good,13%);
      font-family: 'Playfair Display';
      font-weight: 900;
      &::after {
        content: '';
        @include absolute;
    //top: 50%;
    left: 50%;
    z-index: 9;
    //background: $good;
    //background: yellow;
    bottom: -130px;
        @include transform(translateX(-50%));
        width: 10px;
        height: 100px;
      }
    }
    .caption {
      @include absolute;
      //background: $peach;
      left: 0;
      top: 0;
      width: 100%;
      height: calc(100% - 60px);
    }
}
.yellow {
  color: #fffd38;
  //color: desaturate($yellow,20%);
  //color: $good;
}
.img-bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
@include border-radius(1px);
}

.section-deuce {
  //background-color: $good;
  color: $white;
}